{% extends 'base.html.twig' %}

{% block title %}Генератор идей!{% endblock %}

{% block body %}
    <div class="md-modal md-effect-18" id="modal-18">
        <div class="md-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">×</button>
            <h4 class="modal-title">Добавьте слова</h4>
            </div>
            <div class="modal-body">
            <input type="text" name="" placeholder="Существительное" size="20">
            </div>
            <div class="modal-footer"></div>
            <button class="md-close" type="button" data-dismiss="modal">Закрыть</button>
        </div>
    </div>

    <div class="container">
        <div class = "dvline"></div>
        <div class = "dvline2"></div>
        <div class="codrops-top clearfix">
        </div>
        <header>
            <div class="container-fluid site_title">
                <div class="row">
                    <div class="col-xl-8"></div>
                    <div class="col-xl-4">
                        <h2 class="site_title_h">Генератор идей</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-8"></div>
                    <div class="col-xl-4">
                        <button class="md-trigger md-setperspective" type="button" data-modal="modal-18">Добавить идею</button>
                    </div>
                </div>
            </div>
            <div class="trapezoidUp"></div>
            <div class="triangleUp"></div>
        </header>
        <div class="main clearfix">
            <div class="container-fluid example-wrapper">
                <div class="row">
                    <div class="col-xl-8"></div>
                    <div class="col-xl-4">
                        <h2 class="site_title_h">Генератор идей</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-8"></div>
                    <div class="col-xl-4">
                        {#<button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#myModal">Добавить идею#}
                        {#</button>#}
                    </div>
                </div>
            </div>
        </div>
        <footer>
        <div class="triangleDown"></div>
        <div class="trapezoidDown"></div>
        <div class="trapezoidDownGrey"></div>
        </footer>
    </div><!-- /container -->
    <div class="md-overlay"></div><!-- the overlay element -->
{% endblock %}

