{% extends 'base.html.twig' %}

{% block title %}Генератор идей!{% endblock %}

{% block body %}
    <div class="trapezoidUp"></div>
    <div class="content">
        {#<div class="triangleUp"></div>#}
        <div class = "dvline"></div>
        <div class = "dvline2"></div>
        <div class="container-fluid">
            {#<div class="row">#}
                {#<div class ="col-xl-3">#}
                    {#<form action="{{path('generator')}}" method="get">#}
                        {#<input class="btnIdea" type="submit">#}
                    {#</form>#}
                {#</div>#}
                {#<div class ="col-xl-6 ">#}
                    {#<h1>Нажмите на лампочку</h1>#}
                {#</div>#}
                {#<div class ="col-xl-3"></div>#}
            {#</div>#}
            <div class="row">
                <div class ="col-xl-3"></div>
                <div class ="col-xl-6 example-wrapper">
                    <h2>Ваша идея <p>{{ idea }}! ✅</p></h2>
                </div>
                <div class ="col-xl-3"></div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="triangleDown"></div>
        <div class="trapezoidDown"></div>
    </div>
    {#<div class = "quadrilateralDown"></div>#}
{% endblock %}
