{% extends 'base.html.twig' %}

{% block title %}Генератор идей!{% endblock %}

{% block body %}
    <div class = "dvline"></div>
    <div class = "dvline2"></div>
    <header>
        <div class="container-fluid site_title">
            <div class="row">
                <div class="col-xl-8"></div>
                <div class="col-xl-4">
                    <h2 class="site_title_h">Генератор идей</h2>
                </div>
            </div>
        </div>
        <div class="trapezoidUp"></div>
        <div class="triangleUp"></div>
    </header>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class ="col-xl-3"></div>
                <div class ="col-xl-2 confImg">
                    <form action="{{path('generator')}}" method="get">
                        <input type="image" src="{{ asset('build/img/1.png') }}" alt="Submit" width="300vw" height="300vh">
                    </form>
                </div>
                <div class ="col-xl-3 confText">
                    <h3>Нажмите на лампочку</h3>
                </div>
                <div class ="col-xl-4"></div>
            </div>
            <br>
            <div class="row">
                <div class ="col-xl-3"></div>
                <div class ="col-xl-6 example-wrapper">
                    {% if idea is defined and idea is not null %}
                    <h1>{{ idea }}!</h1>
                    {% endif %}
                    {% if idea is defined and idea is null %}
                        <h1>Тут может быть ваша идея!</h1>
                    {% endif %}
                </div>
                <div class ="col-xl-3"></div>
            </div>
        </div>
    </div>
    <footer>
        <div class="triangleDown"></div>
        <div class="container site_title">
            <div class="row">
                <div class="col-xl-1"></div>
                <div class="col-xl-7">
                    <h4>Авторы: Кожин К.P., Быкова А.А., Тазетдинов А.А.</h4>
                </div>
                <div class="col-xl-4"></div>
            </div>
        </div>
        <div class="trapezoidDown"></div>
        <div class="trapezoidDownGrey"></div>
    </footer>
{% endblock %}
